<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LeetSpeak</title>
  </head>
  <body>
    <h1>LeetSpeak!!!!</h1>
    <h3>Enter a sentence to translate</h3>
    <form action="/translate" method="post">
      <label for="new-sentence">Enter a sentence:</label>
      <input id="new-sentence" name="new-sentence" type="string">
      <button type="submit">Translate</button>
    </form>

    <h3>Translated sentence:</h3>
    <p>@Model</p>

  </body>
</html>
